<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link shortener</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</header>
<body>
<header>
    <div id="logo">
        <a href="http://localhost:8080/" class="logo">Short URL</a>
    </div>
</header>
<main>
    <section id="urlbox">
        <h1 th:text="#{header}">Paste the URL to be shortened DEFAULT</h1>
        <form action="/" th:object="${submitForm}" method="post">
            <div id="formurl">
                <input type="text" id="longUrl" th:placeholder="#{input-placeholder}" name="url" th:field="*{url}" required
                       pattern="https?://.+">
                <div id="formbutton">
                    <input type="submit" th:value="#{submit-button-value}">
                </div>
            </div>
        </form>
        <p class="boxtextcenter" th:text="#{description}">
        </p>
    </section>
</main>
<footer></footer>
</body>
</html>




