<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<header>
    <title>Short URL</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</header>
<body>
<header>
    <div id="logo">
        <a href="http://localhost:8080/" class="logo">Short URL</a>
    </div>
</header>
<main>
    <section id="urlbox">
        <h1 th:text="#{short-url-header}"></h1>
            <div id="formurl">
                <a th:href="${shortUrl}" th:text="${shortUrl}"></a>
            </div>
    </section>
</main>
</body>
</html>